<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post"action="/add">
    <table>
        <tr><td> 学号：</td><td><input name="stuNo" placeholder="请输入学号" type="text"></td></tr>
        <tr><td> 姓名：</td><td><input name="sname" placeholder="请输入姓名" type="text"></td></tr>
        <tr><td> 年级：</td><td><input name="grade" placeholder="请输入年级" type="text"></td></tr>
        <tr><td> 班级：</td><td><input name="class" placeholder="请输入班级" type="text"></td></tr>
        <tr><td></td><td><input type="submit" value="添加"></td></tr>
    </table>
</form>
</body>
</html>