<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/updata/{{list.stuNo}}">
    <table>
        <tr><td> 学号：</td><td><input name="stuNo" value="{{ list.stuNo }}" type="text"></td></tr>
        <tr><td> 姓名：</td><td><input name="sname" value="{{ list.sname }}" type="text"></td></tr>
        <tr><td> 年级：</td><td><input name="grade" value="{{ list.grade }}" type="text"></td></tr>
        <tr><td> 班级：</td><td><input name="class" value="{{ list.class }}" type="text"></td></tr>
        <tr><td></td><td><input type="submit" value="修改"></td></tr>
    </table>
</form>
</body>
</html>